body {
  box-sizing: border-box;
  font-family: "Helvetica Neue", helvetica;
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 12px;
}

#container {
  height: 100%;
}

#map {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #888;
}

#metros {
  position: absolute;
  top: 9px;
  left: 37px;
  padding: 10px;
  width: 250px;
  background: rgba(255, 255, 255, 0.9);
}

#metros.collapsed {
  background: rgba(255, 255, 255, 0.0);
}

#stats {
  position: absolute;
  right: 9px;
  top: 9px;
  padding: 10px;
  width: 250px;
  background: rgba(255, 255, 255, 0.9);
}

#status {
  position: absolute;
  top: 9px;
  right: 285px;
  width: 180px;
  height: 65px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#status .col {
  flex-grow: 1;
  flex-basis: 60px;
}

#status .col .label {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

#status .col .label.open {
  color: #F4BA6F;
}
#status .col .label.won {
  color: #7FCB9F;
}
#status .col .label.lost {
  color: #EA6D64;
}

#status .bar {
  position: relative;
  height: 50px;
  background-color: #eee;
  margin: 0 3px;
  border: 1px solid #DEDEDE;
}

#status .bar .value {
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: height .3s ease-out;
  border-bottom: 1px solid;
}

#status .bar .value.open {
  background-color: #F4BA6F;
  border-color: #F4BA6F;
}

#status .bar .value.won {
  background-color: #7FCB9F;
  border-color: #7FCB9F;
}

#status .bar .value.lost {
  background-color: #EA6D64;
  border-color: #EA6D64;
}

.title {
  cursor: pointer;
  color: #4A789C;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  display: inline-block;
}

#metros.collapsed .title {
  color: #aaa;
  transition: all .2s linear;
  border-bottom: 1px solid #aaa;
}

#metros.collapsed .title:hover {
  cursor: pointer;
  color: #4A789C;
  border-bottom: 1px solid #666;
}

.content {
  padding-top: 3px;
  border-top: 1px solid #ccc;
}

h1 {
  color: #4A789C;
  font-size: 20px;
  font-weight: 400;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
}

h2 {
  color: #4A789C;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}

.metro {
  padding: 4px 0;
  color: #aaa;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.metro span {
  font-size: 13px;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  transition: all .1s ease-in-out;
}

.metro:hover span {
  color: #555;
  border-bottom-color: #8E91E2;
}

.stat span {
  display: inline-block;
  font-size: 11px;
  width: 110px;
  color: #aaa;
  margin-right: 10px;
  text-align: right;
}

.blur {
  -webkit-filter: blur(2px);
}

#loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#loading > div {
  display: flex;
  width: 350px;
  height: 80px;
  background: white;
  margin: 260px auto 0;
  padding: 20px 20px 20px 28px;
  font-size: 18px;
  align-items: center;
  box-shadow: 3px 3px 2px #888;
}

#loading i {
  font-size: 64px;
  margin-right: 12px;
}

.green {
  color: green;
}

.grey {
  color: #bcbcbc;
}

.red {
  color: red;
}

polygon {
  stroke: #666;
  stroke-width: .2px;
}

svg {
  position: absolute;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
