body {
  box-sizing: border-box;
  font-family: "Helvetica Neue", helvetica;
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 12px;
}

#container {
  height: 100%;
}

#map {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #888;
}

#metros {
  position: absolute;
  top: 9px;
  left: 37px;
  padding: 10px;
  width: 250px;
  background: rgba(255, 255, 255, 0.9);
}

#metros.collapsed {
  background: rgba(255, 255, 255, 0.0);
}

#stats {
  position: absolute;
  padding: 10px;
  width: 250px;
}

.title {
  cursor: pointer;
  color: #8E91E2;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
}

#metros.collapsed .title {
  color: #aaa;
  transition: all .2s linear;
  border-bottom: 1px solid #aaa;
}

#metros.collapsed .title:hover {
  cursor: pointer;
  color: #8E91E2;
  border-bottom: 1px solid #666;
}

.content {
  padding-top: 3px;
  border-top: 1px solid #ccc;
}

h1 {
  color: #8E91E2;
  font-size: 14px;
  font-weight: 500;
  -webkit-margin-before: 0;
  border-bottom: 1px solid #ddd;
}

h2 {
  color: #8E91E2;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}

.metro {
  padding: 4px 0;
  color: #aaa;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.metro span {
  font-size: 13px;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  transition: all .1s ease-in-out;
}

.metro:hover span {
  color: #555;
  border-bottom-color: #8E91E2;
}

.stat span {
  display: inline-block;
  font-size: 11px;
  width: 110px;
  color: #aaa;
  margin-right: 10px;
  text-align: right;
}

.blur {
  -webkit-filter: blur(2px);
}

#loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#loading > div {
  display: flex;
  width: 350px;
  height: 80px;
  background: white;
  margin: 260px auto 0;
  padding: 20px 20px 20px 28px;
  font-size: 18px;
  align-items: center;
  box-shadow: 3px 3px 2px #888;
}

#loading i {
  font-size: 64px;
  margin-right: 12px;
}

.green {
  color: green;
}

.grey {
  color: #bcbcbc;
}

.red {
  color: red;
}

polygon {
  stroke: #666;
  stroke-width: .2px;
}

svg {
  position: absolute;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
