<!doctype html>
<html>
  <head>
    <script type="application/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="application/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/colorbrewer.css">
    <link rel="stylesheet" type="text/css" href="css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body data-ng-app>
    <div id="container" class="blur">
        <div id="map"></div>
        <div id="metros"
             data-ng-controller="MetrosCtrl"
             data-ng-class="{ 'expanded':data.expanded, 'collapsed':!data.expanded }"
             data-ng-show="data.metros">
            <div class="title fa" data-ng-click="data.expanded = !(!!data.expanded)">&#xf0ac; Metros</div>
            <div class="content" data-ng-show="data.expanded">
                <div class="metro" data-ng-repeat="metro in data.metros"
                     data-ng-click="navigateToMetro(metro)"><span>{{metro.name}}</span></div>
            </div>
        </div>
        <div id="stats" data-ng-controller="StatsCtrl">
            <div data-ng-show="data.total">
                <h1>Viewport Statistics</h1>

                <div class="stat"><span>Places</span>{{data.total | number:0}}</div>

                <h2>Social Media</h2>
                <div class="stat"><span>Twitter</span>{{data.twitter_count | number:0}}</div>
                <div class="stat"><span>Facebook</span>{{data.facebook_count | number:0}}</div>
                <div class="stat"><span>Google</span>{{data.google_count | number:0}}</div>
                <div class="stat"><span>Yelp</span>{{data.yelp_count | number:0}}</div>
                <div class="stat"><span>OpenTable</span>{{data.opentable_count | number:0}}</div>
                <div class="stat"><span>Trip Advisor</span>{{data.tripadvisor_count | number:0}}</div>

                <h2>Revenue</h2>
                <div class="stat" data-ng-repeat="rev in data.revenue">
                    <span>{{rev.key}}</span>{{rev.doc_count | number:0}}</div>

                <h2>Headcount</h2>
                <div class="stat" data-ng-repeat="hc in data.headcount">
                    <span>{{hc.key}}</span>{{hc.doc_count | number:0}}
                </div>

                <div data-ng-show="totalAccountStats">
                    <h2>Account Stats</h2>
                    <div class="stat"><span>Total Open</span>{{totalAccountStats.open | number:0}}</div>
                    <div class="stat"><span>Total Won</span>{{totalAccountStats.won | number:0}}</div>
                    <div class="stat"><span>Total Lost</span>{{totalAccountStats.lost | number:0}}</div>
                    <div class="stat"><span>Open</span>{{data.open_count | number:0}}</div>
                    <div class="stat"><span>Won</span>{{data.won_count | number:0}}</div>
                    <div class="stat"><span>Lost</span>{{data.lost_count | number:0}}</div>

                    <h2>Status Mode</h2>
                    <button data-ng-click="setMode()">Matched Places</button>
                    <button data-ng-click="setMode('won')">Won Places</button>
                    <button data-ng-click="setMode('lost')">Lost Places</button>
                    <button data-ng-click="setMode('ratio')">Success Ratio</button>
                </div>
            </div>

        </div>
    </div>
    <div id="loading">
        <div>
            <i class="fa fa-cloud grey"></i>
            <span>Verifying Elasticsearch Setup</span>
        </div>
    </div>
<script type="application/javascript" src="js/stats-ctrl.js"></script>
<script type="application/javascript" src="js/metros-ctrl.js"></script>
<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
<script type="application/javascript" src="js/nprogress.js"></script>
<script type="application/javascript" src="js/hex-overlay.js"></script>
<script type="application/javascript" src="js/main.js"></script>
  </body>
</html>
