<!doctype html>
<html>
  <head>
    <script type="application/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="application/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/colorbrewer.css">
    <link rel="stylesheet" type="text/css" href="css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body data-ng-app>
    <div id="container" class="blur">
        <div id="map"></div>
        <div id="metros"
             data-ng-controller="MetrosCtrl"
             data-ng-class="{ 'expanded':data.expanded, 'collapsed':!data.expanded }"
             data-ng-show="data.metros">
            <div class="title" data-ng-click="data.expanded = !(!!data.expanded)"><span class="fa">&#xf0ac;</span> Metros</div>
            <div class="content" data-ng-show="data.expanded">
                <div class="metro" data-ng-repeat="metro in data.metros"
                     data-ng-click="navigateToMetro(metro)"><span>{{metro.name}}</span></div>
            </div>
        </div>
        <div data-ng-controller="StatsCtrl" data-ng-show="data.total">
            <div id="status" data-ng-show="totalAccountStats">
                <div class="col" data-ng-repeat="status in ['open', 'won', 'lost']">
                    <div class="bar">
                        <span class="value" data-ng-class="status"
                              data-ng-style="{'height':(data[status+'_count'] / data.total)*100+'%'}"></span>
                    </div>
                    <div class="label" data-ng-class="status">{{data[status+'_count'] | number:0}}</div>
                </div>
            </div>
            <div id="stats" >
                <h1><span class="fa">&#xf080;</span> Statistics</h1>
                <h2>General</h2>
                <div class="stat"><span>Places</span>{{data.total | number:0}}</div>

                <h2>Social Media</h2>
                <div class="stat filterable"
                     data-ng-click="toggleFilter('twitter_account')"
                     data-ng-class="{ 'filtered':filters['twitter_account'] }">
                    <span>Twitter</span>{{data.twitter_count | number:0}}</div>
                <div class="stat filterable"
                     data-ng-click="toggleFilter('facebook')"
                     data-ng-class="{ 'filtered':filters['facebook'] }">
                    <span>Facebook</span>{{data.facebook_count | number:0}}</div>
                <div class="stat filterable"
                     data-ng-click="toggleFilter('google')"
                     data-ng-class="{ 'filtered':filters['google'] }">
                    <span>Google</span>{{data.google_count | number:0}}</div>
                <div class="stat filterable"
                     data-ng-click="toggleFilter('yelp')"
                     data-ng-class="{ 'filtered':filters['yelp'] }">
                    <span>Yelp</span>{{data.yelp_count | number:0}}</div>
                <div class="stat filterable"
                     data-ng-click="toggleFilter('opentable')"
                     data-ng-class="{ 'filtered':filters['opentable'] }">
                    <span>OpenTable</span>{{data.opentable_count | number:0}}</div>
                <div class="stat filterable"
                     data-ng-click="toggleFilter('tripadvisor')"
                     data-ng-class="{ 'filtered':filters['tripadvisor'] }">
                    <span>Trip Advisor</span>{{data.tripadvisor_count | number:0}}</div>

                <h2>Revenue</h2>
                <div class="stat filterable" data-ng-repeat="rev in revenueKeys"
                     data-ng-class="{ 'filtered':excludeFilters[rev] }"
                     data-ng-click="toggleExcludeFilter(rev, 'revenue')">
                    <span>{{rev}}</span>{{data.revenue[rev] | number:0}}
                </div>

                <h2>Headcount</h2>
                <div class="stat filterable" data-ng-repeat="hc in headcountKeys"
                     data-ng-class="{ 'filtered':excludeFilters[hc] }"
                     data-ng-click="toggleExcludeFilter(hc, 'headcount')">
                    <span>{{hc}}</span>{{data.headcount[hc] | number:0}}
                </div>

                <div data-ng-show="totalAccountStats">
                    <h2>Mode</h2>
                    <div id="modes" class="button-group">
                        <div class="button" data-ng-click="setMode()"
                             data-ng-class="{ 'selected':!data.mode }">Matched</div>
                        <div class="button" data-ng-click="setMode('won')"
                             data-ng-class="{ 'selected':data.mode == 'won' }">Won</div>
                        <div class="button" data-ng-click="setMode('lost')"
                             data-ng-class="{ 'selected':data.mode == 'lost' }">Lost</div>
                        <div class="button" data-ng-click="setMode('ratio')"
                             data-ng-class="{ 'selected':data.mode == 'ratio' }">Success</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loading">
        <div>
            <i class="fa fa-cloud grey"></i>
            <span>Verifying Elasticsearch Setup</span>
        </div>
    </div>
<script type="application/javascript" src="js/stats-ctrl.js"></script>
<script type="application/javascript" src="js/metros-ctrl.js"></script>
<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
<script type="application/javascript" src="js/nprogress.js"></script>
<script type="application/javascript" src="js/hex-overlay.js"></script>
<script type="application/javascript" src="js/main.js"></script>
  </body>
</html>
